{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="org-wrapper">
  <div class="org-dashboard-layout">
    {% include 'organization/org_sidebar.html' %}
    <main class="main-content">
      {% include 'organization/org_header.html' %}
      <form method="POST" class="profile-form">
        {% csrf_token %}
        <div class="profile-card">
          <div class="profile-header">
            <h2>Organization Profile</h2>
            <button type="submit" class="save-btn">Save</button>
          </div>
        

          <div class="form-grid">
            <div>
              <label>Company Name</label>
              <div class="readonly-field">{{ organization.organization_name }}</div>
              <input type="hidden" name="organization_name" value="{{ organization.organization_name }}">
            </div>
            <div>
              <label>License Number</label>
              <div class="readonly-field">{{ organization.license_number }}</div>
              <input type="hidden" name="license_number" value="{{ organization.license_number }}">
            </div>
            <div>
              <label>Email</label>
              <div class="readonly-field">{{ organization.organization_email }}</div>
              <input type="hidden" name="organization_email" value="{{ organization.organization_email }}">
            </div>
            <div>
              <label>Phone</label>
              <div class="readonly-field">{{ organization.organization_phone }}</div>
              <input type="hidden" name="organization_phone" value="{{ organization.organization_phone }}">
            </div>
            <div>
              <label>Location</label>
              <div class="readonly-field">{{ organization.location }}</div>
              <input type="hidden" name="location" value="{{ organization.location }}">
            </div>
            <div>
              <label>Establishment Date</label>
              <div class="readonly-field">{{ organization.establishment_date|date:"Y-m-d" }}</div>
              <input type="hidden" name="establishment_date" value="{{ organization.establishment_date|date:"Y-m-d" }}">
            </div>
            <div>
              <label>Sector</label>
              <div class="readonly-field">{{ organization.get_sector_display }}</div>
              <input type="hidden" name="sector" value="{{ organization.sector }}">
            </div>
            <div>
              <label>Company Type</label>
              <div class="readonly-field">{{ organization.get_company_type_display }}</div>
              <input type="hidden" name="company_type" value="{{ organization.company_type }}">
            </div>
          </div>

          <div class="form-section">
            <h4>Achievements</h4>
            <textarea name="achievements" rows="3">{{ organization.achievements }}</textarea>
          </div>

          <div class="profile-section">
            <h4>Security</h4>
            <div class="pass-action-buttons">
              <button id="openPasswordModal" class="pass-sec-btn" type="button">Change Password</button>
              <button id="openSecurityModal" class="pass-sec-btn" type="button">Change Security Questions</button>
              <button href="#" class="pass-sec-btn">Terminate Account</button>
            </div>
          </div>

        </div>
      </form>
    </main>
  </div>
</div>
{% endblock %}
