html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
footer {
  background-color: var(--bg-secondary);
  color: var(--white);
  text-align: center;
  padding: 8px;
}

.toast {
  min-width: 250px;
  font-size: 0.95rem;
  font-weight: 500;
}
.toast .toast-body {
  padding-right: 0.5rem;
}
