{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="applicant-dashboard">

  <header class="main-header">
    {% include "applicant/applicant_header.html" %}
  </header>

  <section class="search-filter-section">
    {% include "applicant/search.html" %}
  </section>

  <div class="dashboard-grid">
      {% include "applicant/catalog.html" %}
      {% include "applicant/apl_sidebar.html" %}
      {% if section == "chat" %}
        {% include "applicant/chat.html" %}
      {% endif %}
    
  </div>
</div>

{% endblock %}
