{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EventWork Connect</title>
  <link rel="stylesheet" href="{% static 'css/theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/applicant_dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
  <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
  <link rel="stylesheet" href="{% static 'css/chat.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/organization/organization_dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/organization/organization_profile.css' %}">
  <link rel="stylesheet" href="{% static 'css/organization/organization_view_applicant.css' %}">

  <main>
    {% block content %}
      {% if user.is_authenticated %}
        {% if user.applicant %}
          {% include "dashboards/applicant_dashboard.html" %}
        {% elif user.organization %}
          {% include "dashboards/organization_dashboard.html" %}
        {% endif %}
      {% else %}
        <p>Please login to continue.</p>
      {% endif %}
    {% endblock %}
  </main>

  <footer>
    <p>&copy; 2025 EventWork Connect. All rights reserved.</p>
  </footer>
  {% if user.id_number %}
    <input type="hidden" id="userIdNumber" value="{{ user.id_number }}">
  {% elif user.license_number %}
    <input type="hidden" id="userIdNumber" value="{{ user.license_number }}">
  {% endif %}
  <input type="hidden" id="userType" value="{% if user.id_number %}applicant{% else %}organization{% endif %}">

  {% include 'modals/change_password_modal.html' %}
  {% include 'modals/terminate_account_modal.html' %}
  {% include 'modals/change_security_modal.html' %}
  
  <script src="{% static 'js/profile.js' %}"></script>
  <script src="{% static 'js/password_modal.js' %}"></script>
  <script src="{% static 'js/change_security_modal.js' %}"></script>
  <script src="{% static 'js/catalog.js' %}"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
