<div class="job-cards">
  {% if page_obj %}
    {% for app in page_obj %}
      <div class="job-card">
        {% if app.job.image %}
          <img src="{{ app.job.image.url }}" class="job-image" alt="{{ app.job.title }}">
        {% else %}
          <div class="job-placeholder">No Image</div>
        {% endif %}
        <div class="job-info">
          <h3>{{ app.job.title }}</h3>
          <p><strong>{{ app.job.get_job_type_display }}</strong></p>
          <p>{{ app.job.location }}</p>
          <p><strong>Status:</strong> {{ app.get_status_display }}</p>
          <div class="d-flex justify-content-between mt-2">
            {% if app.status != 'rejected' and app.job and app.job.org and app.job.org.is_active %}
              <a href="{% url 'chat_with_user' app.job.id app.job.org.id %}" class="apply-btn">Chat</a>
            {% else %}
              <span class="text-danger fw-bold">Rejected</span>
            {% endif %}
            
          </div>
        </div>
      </div>
    {% endfor %}

  {% else %}
    <div class="w-100 text-center py-5">
      <h5 class="text-muted">No jobs were applied.</h5>
    </div>
  {% endif %}
</div>
